* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-decoration: none;
    color: #505050;
    font-family: 'Oswald';
}

body {
    background: #fafafa;
    margin: 0 auto;
}

.content-wrapper {
    position: relative;
    width: 1050px;
    margin: 0 auto;
}

header {
    position: relative;
    height: 545px;
    background: url('/images/gplaypattern.png') no-repeat center center;
    background-size: cover;
    padding: 20px 0 20px 0;
    width: 100%;
    background-attachment: fixed;
    background-color: #0099ff;
}

.overlay {
    background: rgba(0, 113, 205, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header h1 {
    text-transform: uppercase;
    color: #505050;
    display: inline-block;
    font-size: 2em;    
    /*line-height: 300px;*/
}

header nav {
    display: inline-block;
    float: right;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding-left: 15px;
    color: #505050;
    font-size: 2em;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header h2 {
    width: 100%;
    color: #fefefe;
    font-size: 6.28em;
    padding-top: 160px;
    text-shadow: 1px 1px 1px #505050;
    text-align: center;
}

header h3 {
    text-align: center;
}

#primary-section {
    position: relative;
    background-color: #eeeeee;
    background-color: #fefefe;
    padding: 80px 0 80px 0;
}

.post-article {
    display: inline-block;
    width: 680px;
    padding-right: 30px;
}

.post-primary-heading {
    font-size: 4.5em;
    padding-bottom: 12px;
}

.post-para {
    line-height: 1.5em;
    padding: 15px 0 15px 0;
    font-size: 1.2em;
}

.post-author {
    color: #0099ff;
    text-decoration: underline;
}

.post-para-heading-box {
    margin: 25px 0 25px 0;
    border-left: 2px solid #e0e0e0;
    padding-left: 10px;
}

.post-para-heading {
    font-size: 2.5em;
    color: #0099ff;
}

.post-sidebar {
    position: right;
    margin-left: 30px;
    display: inline-block;
    width: 300px;
}

.sidebar-author-heading {
    text-align: center;
    font-size: 1.5em;
    color: #0099ff;
}

.author-social {
    margin: 20px 0 50px 0;
    text-align: center;
}

.post-sidebar ul li {
    display: inline;
}

.post-sidebar ul li a {
    text-decoration: none;
}

.post-sidebar ul li a:hover {
    text-decoration: underline;
}

.sidebar-li {
    padding-left: 15px;
}

.sidebar-heading {
    padding-bottom: 20px;
    color: #0099ff;
    font-size: 1.5em;
}

.sidebar-para {
    line-height: 1.5em;
    font-size: 1.2em;
}

.sub-section {
    background-color: #fefefe;
    border-top: 2px solid #e0e0e0;
}

.sub-section h2 {
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: 3.5em;
}

.post-block-link {
    display: inline-block;
    width: 24.7%;
    height: 320px;
}

.post-block-link h4 {
    padding-top: 250px;
    padding-left: 20px;
    font-size: 2.4em;
    color: #505050;
}

footer {
    font-size: 1.2em;
    padding: 40px 0 40px 0;
    width: 100%;
    background-color: #0099ff;
}

footer p {
    color: #fefefe;
    display: inline-block;
}

.footer-nav {
    float: right;
    display: inline-block;
}

.footer-nav ul li {
    padding-left: 15px;
    display: inline;
}

.footer-nav ul li a {
    color: #fefefe;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.li-padding-right {
    padding-right: 10px;
}

.border-left {
    padding-right: 10px;
    border-left: 1px solid #fefefe;
}

@media (max-width: 1080px) { 
    
    .content-wrapper {
        position: relative;
        width: 900px;
        margin: 0 auto;
    }

    header h2 {
        color: #fefefe;
        font-size: 5.28em;
        padding-top: 160px;
        text-shadow: 1px 1px 1px #505050;
        text-align: center;
    }

    .post-article {
        display: inline-block;
        width: 500px;
        padding-right: 30px;
    }

}

@media (max-width: 930px) {
    
    .content-wrapper {
        position: relative;
        width: 700px;
        margin: 0 auto;
    }

    header h2 {
        color: #fefefe;
        font-size: 4em;
        padding-top: 160px;
        text-shadow: 1px 1px 1px #505050;
        text-align: center;
    }

    .post-article {
        display: inline-block;
        width: 300px;
        padding-right: 30px;
    }

}

@media (max-width: 750px) {

    .content-wrapper {
        position: relative;
        width: 500px;
        margin: 0 auto;
    }

    header {
        position: relative;
        height: 445px;
        background: url('/images/gplaypattern.png') no-repeat center center;
        background-size: cover;
        padding: 20px 0 20px 0;
        width: 100%;
        background-attachment: fixed;
        background-color: #0099ff;
    }

    header h2 {
        color: #fefefe;
        font-size: 2.9em;
        padding-top: 160px;
        text-shadow: 1px 1px 1px #505050;
        text-align: center;
    }    

    .post-article {
        width: 100%;
    }

    .post-sidebar {
        margin: 5px 0 0 0;
        padding: 0;
        width: 100%;
    }

    .sidebar-author-heading {
        margin-top: 40px;
        text-align: center;
        font-size: 1.5em;
        color: #0099ff;
    }

    .footer-nav {
        margin: 0;
        padding: 0;
        display: block;
    }

}

@media (max-width: 540px) {

    .content-wrapper {
        position: relative;
        width: 350px;
        margin: 0 auto;
    }

    header {
        position: relative;
        height: 445px;
        background: url('/images/gplaypattern.png') no-repeat center center;
        background-size: cover;
        padding: 20px 0 20px 0;
        width: 100%;
        background-attachment: fixed;
        background-color: #0099ff;
    }


    header h2 {
        color: #fefefe;
        font-size: 1.9em;
        padding-top: 160px;
        text-shadow: 1px 1px 1px #505050;
        text-align: center;
    }    

    .post-article {
        width: 100%;
    }

    .post-sidebar {
        width: 100%;
    }


}